@model EhimeEventCalendar.Models.EventInfo

@{
    ViewBag.Title = Model.Title;
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

<div>
    <hr />
    <dl class="dl-horizontal events-show-info">

        <dt>
            日時
        </dt>
        <dd>
            @Html.Raw(string.Format("{0} ~ {1}", Model.StartTime.ToString("yyyy/MM/dd HH:mm"), Model.EndTime.ToString("HH:mm")))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Venue.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Venue.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Venue.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Venue.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Venue.Url)
        </dt>
        <dd>
            <a href="@Model.Venue.Url" target="_blank">@Html.DisplayFor(model => model.Venue.Url)</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd>
            <a href="@Model.Url" target="_blank">@Html.DisplayFor(model => model.Url)</a>
        </dd>

    </dl>
    <hr />
    @Html.DisplayFor(model => model.Contents)
    <hr />
</div>
